# Pandas - GroupBy Operations

* Allows us to examine data on a per category basis

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('mpg.csv')

In [3]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [4]:
df['mpg'] = df['mpg']*3.78541

In [5]:
df.rename(columns = {'mpg': 'mpl'}, inplace = True)

In [6]:
df.head()

,mpl,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,68.13738,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,56.78115,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,68.13738,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,60.56656,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,64.35197,8,302.0,140,3449,10.5,70,1,ford torino

In [7]:
df['model_year'].unique()

array([70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82], dtype=int64)

In [8]:
df.groupby('model_year')['mpl'].agg(sum)

model_year
70    1941.915330
71    2252.318950
72    1983.554840
73    2589.220440
74    2320.456330
75    2301.529280
76    2776.598235
77    2477.550845
78    3278.922142
79    2754.642857
80    3699.102652
81    3330.025177
82    3721.058030
Name: mpl, dtype: float64

In [9]:
df.groupby('model_year').mean()

,mpl,cylinders,displacement,weight,acceleration,origin
model_year,,,,,,
70,66.962598,6.758621,281.413793,3372.793103,12.948276,1.310345
71,80.439962,5.571429,209.750000,2995.428571,15.142857,1.428571
72,70.841244,5.821429,218.375000,3237.714286,15.125000,1.535714
73,64.730511,6.375000,256.875000,3419.025000,14.312500,1.375000
74,85.942827,5.259259,171.740741,2877.925926,16.203704,1.666667
75,76.717643,5.600000,205.533333,3176.800000,16.050000,1.466667
76,81.664654,5.647059,197.794118,3078.735294,15.941176,1.470588
77,88.483959,5.464286,191.392857,2997.357143,15.435714,1.571429
78,91.081171,5.361111,177.805556,2861.805556,15.805556,1.611111
79,94.987685,5.827586,206.689655,3055.344828,15.813793,1.275862
80,127.555264,4.137931,115.827586,2436.655172,16.934483,2.206897
81,114.828454,4.620690,135.310345,2522.931034,16.306897,1.965517
82,120.034130,4.193548,128.870968,2453.548387,16.638710,1.645161

In [10]:
df.groupby('model_year')['mpl'].mean()

model_year
70     66.962598
71     80.439962
72     70.841244
73     64.730511
74     85.942827
75     76.717643
76     81.664654
77     88.483959
78     91.081171
79     94.987685
80    127.555264
81    114.828454
82    120.034130
Name: mpl, dtype: float64

In [11]:
d = df.groupby(['model_year', 'cylinders']).mean() 
# Multi-index in multi-level GroupBy Operation
# First index is decided by the first element in the list

In [12]:
d

                             mpl  displacement       weight  acceleration  \
model_year cylinders
70         4           95.716796    107.000000  2292.571429     16.000000
           6           77.600905    199.000000  2710.500000     15.500000
           8           53.416341    367.555556  3940.055556     11.194444
71         4          103.953182    101.846154  2056.384615     16.961538
           6           68.137380    243.375000  3171.875000     14.750000
           8           50.832649    371.714286  4537.714286     12.214286
72         3           71.922790     70.000000  2330.000000     13.500000
           4           88.686749    111.535714  2382.642857     17.214286
           8           51.539813    344.846154  4228.384615     13.000000
73         3           68.137380     70.000000  2124.000000     13.500000
           4           86.032045    109.272727  2338.090909     17.136364
           6           71.922790    212.250000  2917.125000     15.687500
           8           49.967412    365.250000  4279.050000     12.250000
74         4          105.234398     96.533333  2151.466667     16.400000
           6           67.596607    230.428571  3320.000000     16.857143
           8           53.752822    315.200000  4438.400000     14.700000
75         4           95.581602    114.833333  2489.250000     15.833333
           6           66.560126    233.750000  3398.333333     17.708333
           8           59.304757    330.500000  4108.833333     13.166667
76         4          101.322808    106.333333  2306.600000     16.866667
           6           75.708200    221.400000  3349.600000     17.000000
           8           55.519347    324.000000  4064.666667     13.222222
77         3           81.386315     80.000000  2720.000000     13.500000
           4          110.182470    106.500000  2205.071429     16.064286
           6           73.815495    220.400000  3383.000000     16.900000
           8           60.566560    335.750000  4177.500000     13.662500
78         4          111.959068    112.117647  2296.764706     16.282353
           5           76.843823    131.000000  2830.000000     15.900000
           6           72.175151    213.250000  3314.166667     16.391667
           8           72.112060    300.833333  3563.333333     13.266667
79         4          119.335050    113.583333  2357.583333     15.991667
           5           96.149414    183.000000  3530.000000     20.100000
           6           86.875160    205.666667  3025.833333     15.433333
           8           70.522188    321.400000  3862.900000     15.400000
80         3           89.714217     70.000000  2420.000000     12.500000
           4          131.020611    111.000000  2360.080000     17.144000
           5          137.788924    121.000000  2950.000000     19.900000
           6           98.042119    196.500000  3145.500000     15.050000
81         4          124.215525    108.857143  2275.476190     16.466667
           6           88.686749    184.000000  3093.571429     15.442857
           8          100.691906    350.000000  3725.000000     19.000000
82         4          121.403506    118.571429  2402.321429     16.703571
           6          107.253283    225.000000  2931.666667     16.033333

                        origin
model_year cylinders
70         4          2.285714
           6          1.000000
           8          1.000000
71         4          1.923077
           6          1.000000
           8          1.000000
72         3          3.000000
           4          1.928571
           8          1.000000
73         3          3.000000
           4          2.000000
           6          1.250000
           8          1.000000
74         4          2.200000
           6          1.000000
           8          1.000000
75         4          2.166667
           6          1.000000
           8          1.000000
76         4          1.866667
           6          1.300000
           8          1.000000
77         3          3.000000
           4          1.857143
           6          1.400000
           8          1.000000
78         4          2.117647
           5          2.000000
           6          1.166667
           8          1.000000
79         4          1.583333
           5          2.000000
           6          1.000000
           8          1.000000
80         3          3.000000
           4          2.200000
           5          2.000000
           6          2.000000
81         4          2.095238
           6          1.714286
           8          1.000000
82         4          1.714286
           6          1.000000

In [13]:
d.loc[70]

                 mpl  displacement       weight  acceleration    origin
cylinders
4          95.716796    107.000000  2292.571429     16.000000  2.285714
6          77.600905    199.000000  2710.500000     15.500000  1.000000
8          53.416341    367.555556  3940.055556     11.194444  1.000000

In [14]:
d.loc[[70,82]]

                             mpl  displacement       weight  acceleration  \
model_year cylinders
70         4           95.716796    107.000000  2292.571429     16.000000
           6           77.600905    199.000000  2710.500000     15.500000
           8           53.416341    367.555556  3940.055556     11.194444
82         4          121.403506    118.571429  2402.321429     16.703571
           6          107.253283    225.000000  2931.666667     16.033333

                        origin
model_year cylinders
70         4          2.285714
           6          1.000000
           8          1.000000
82         4          1.714286
           6          1.000000

In [15]:
d.loc[(70,4)]
# Pass in a tuple for grabbing a specific row
# First, the outer index, then the inner index

mpl               95.716796
displacement     107.000000
weight          2292.571429
acceleration      16.000000
origin             2.285714
Name: (70, 4), dtype: float64

In [16]:
#df.groupby('model_year').describe().transpose()

In [17]:
# CrossSection Operations
d.xs(key=70, level='model_year')

                 mpl  displacement       weight  acceleration    origin
cylinders
4          95.716796    107.000000  2292.571429     16.000000  2.285714
6          77.600905    199.000000  2710.500000     15.500000  1.000000
8          53.416341    367.555556  3940.055556     11.194444  1.000000

In [18]:
d.xs(key=4, level='cylinders')

                   mpl  displacement       weight  acceleration    origin
model_year
70           95.716796    107.000000  2292.571429     16.000000  2.285714
71          103.953182    101.846154  2056.384615     16.961538  1.923077
72           88.686749    111.535714  2382.642857     17.214286  1.928571
73           86.032045    109.272727  2338.090909     17.136364  2.000000
74          105.234398     96.533333  2151.466667     16.400000  2.200000
75           95.581602    114.833333  2489.250000     15.833333  2.166667
76          101.322808    106.333333  2306.600000     16.866667  1.866667
77          110.182470    106.500000  2205.071429     16.064286  1.857143
78          111.959068    112.117647  2296.764706     16.282353  2.117647
79          119.335050    113.583333  2357.583333     15.991667  1.583333
80          131.020611    111.000000  2360.080000     17.144000  2.200000
81          124.215525    108.857143  2275.476190     16.466667  2.095238
82          121.403506    118.571429  2402.321429     16.703571  1.714286

In [19]:
df[df['cylinders'].isin([6,8])].groupby(['model_year', 'cylinders']).mean()

                             mpl  displacement       weight  acceleration  \
model_year cylinders
70         6           77.600905    199.000000  2710.500000     15.500000
           8           53.416341    367.555556  3940.055556     11.194444
71         6           68.137380    243.375000  3171.875000     14.750000
           8           50.832649    371.714286  4537.714286     12.214286
72         8           51.539813    344.846154  4228.384615     13.000000
73         6           71.922790    212.250000  2917.125000     15.687500
           8           49.967412    365.250000  4279.050000     12.250000
74         6           67.596607    230.428571  3320.000000     16.857143
           8           53.752822    315.200000  4438.400000     14.700000
75         6           66.560126    233.750000  3398.333333     17.708333
           8           59.304757    330.500000  4108.833333     13.166667
76         6           75.708200    221.400000  3349.600000     17.000000
           8           55.519347    324.000000  4064.666667     13.222222
77         6           73.815495    220.400000  3383.000000     16.900000
           8           60.566560    335.750000  4177.500000     13.662500
78         6           72.175151    213.250000  3314.166667     16.391667
           8           72.112060    300.833333  3563.333333     13.266667
79         6           86.875160    205.666667  3025.833333     15.433333
           8           70.522188    321.400000  3862.900000     15.400000
80         6           98.042119    196.500000  3145.500000     15.050000
81         6           88.686749    184.000000  3093.571429     15.442857
           8          100.691906    350.000000  3725.000000     19.000000
82         6          107.253283    225.000000  2931.666667     16.033333

                        origin
model_year cylinders
70         6          1.000000
           8          1.000000
71         6          1.000000
           8          1.000000
72         8          1.000000
73         6          1.250000
           8          1.000000
74         6          1.000000
           8          1.000000
75         6          1.000000
           8          1.000000
76         6          1.300000
           8          1.000000
77         6          1.400000
           8          1.000000
78         6          1.166667
           8          1.000000
79         6          1.000000
           8          1.000000
80         6          2.000000
81         6          1.714286
           8          1.000000
82         6          1.000000

In [20]:
d.head()

                             mpl  displacement       weight  acceleration  \
model_year cylinders
70         4           95.716796    107.000000  2292.571429     16.000000
           6           77.600905    199.000000  2710.500000     15.500000
           8           53.416341    367.555556  3940.055556     11.194444
71         4          103.953182    101.846154  2056.384615     16.961538
           6           68.137380    243.375000  3171.875000     14.750000

                        origin
model_year cylinders
70         4          2.285714
           6          1.000000
           8          1.000000
71         4          1.923077
           6          1.000000

In [21]:
d.swaplevel() # Swap Index

,,mpl,displacement,weight,acceleration,origin
cylinders,model_year,,,,,
4,70,95.716796,107.000000,2292.571429,16.000000,2.285714
6,70,77.600905,199.000000,2710.500000,15.500000,1.000000
8,70,53.416341,367.555556,3940.055556,11.194444,1.000000
4,71,103.953182,101.846154,2056.384615,16.961538,1.923077
6,71,68.137380,243.375000,3171.875000,14.750000,1.000000
8,71,50.832649,371.714286,4537.714286,12.214286,1.000000
3,72,71.922790,70.000000,2330.000000,13.500000,3.000000
4,72,88.686749,111.535714,2382.642857,17.214286,1.928571
8,72,51.539813,344.846154,4228.384615,13.000000,1.000000
3,73,68.137380,70.000000,2124.000000,13.500000,3.000000
4,73,86.032045,109.272727,2338.090909,17.136364,2.000000
6,73,71.922790,212.250000,2917.125000,15.687500,1.250000
8,73,49.967412,365.250000,4279.050000,12.250000,1.000000
4,74,105.234398,96.533333,2151.466667,16.400000,2.200000
6,74,67.596607,230.428571,3320.000000,16.857143,1.000000
8,74,53.752822,315.200000,4438.400000,14.700000,1.000000
4,75,95.581602,114.833333,2489.250000,15.833333,2.166667
6,75,66.560126,233.750000,3398.333333,17.708333,1.000000
8,75,59.304757,330.500000,4108.833333,13.166667,1.000000
4,76,101.322808,106.333333,2306.600000,16.866667,1.866667
6,76,75.708200,221.400000,3349.600000,17.000000,1.300000
8,76,55.519347,324.000000,4064.666667,13.222222,1.000000
3,77,81.386315,80.000000,2720.000000,13.500000,3.000000
4,77,110.182470,106.500000,2205.071429,16.064286,1.857143
6,77,73.815495,220.400000,3383.000000,16.900000,1.400000
8,77,60.566560,335.750000,4177.500000,13.662500,1.000000
4,78,111.959068,112.117647,2296.764706,16.282353,2.117647
5,78,76.843823,131.000000,2830.000000,15.900000,2.000000
6,78,72.175151,213.250000,3314.166667,16.391667,1.166667
8,78,72.112060,300.833333,3563.333333,13.266667,1.000000
4,79,119.335050,113.583333,2357.583333,15.991667,1.583333
5,79,96.149414,183.000000,3530.000000,20.100000,2.000000
6,79,86.875160,205.666667,3025.833333,15.433333,1.000000
8,79,70.522188,321.400000,3862.900000,15.400000,1.000000
3,80,89.714217,70.000000,2420.000000,12.500000,3.000000
4,80,131.020611,111.000000,2360.080000,17.144000,2.200000
5,80,137.788924,121.000000,2950.000000,19.900000,2.000000
6,80,98.042119,196.500000,3145.500000,15.050000,2.000000
4,81,124.215525,108.857143,2275.476190,16.466667,2.095238
6,81,88.686749,184.000000,3093.571429,15.442857,1.714286
8,81,100.691906,350.000000,3725.000000,19.000000,1.000000
4,82,121.403506,118.571429,2402.321429,16.703571,1.714286
6,82,107.253283,225.000000,2931.666667,16.033333,1.000000

In [22]:
d.sort_index(level='model_year', ascending = False)

                             mpl  displacement       weight  acceleration  \
model_year cylinders
82         6          107.253283    225.000000  2931.666667     16.033333
           4          121.403506    118.571429  2402.321429     16.703571
81         8          100.691906    350.000000  3725.000000     19.000000
           6           88.686749    184.000000  3093.571429     15.442857
           4          124.215525    108.857143  2275.476190     16.466667
80         6           98.042119    196.500000  3145.500000     15.050000
           5          137.788924    121.000000  2950.000000     19.900000
           4          131.020611    111.000000  2360.080000     17.144000
           3           89.714217     70.000000  2420.000000     12.500000
79         8           70.522188    321.400000  3862.900000     15.400000
           6           86.875160    205.666667  3025.833333     15.433333
           5           96.149414    183.000000  3530.000000     20.100000
           4          119.335050    113.583333  2357.583333     15.991667
78         8           72.112060    300.833333  3563.333333     13.266667
           6           72.175151    213.250000  3314.166667     16.391667
           5           76.843823    131.000000  2830.000000     15.900000
           4          111.959068    112.117647  2296.764706     16.282353
77         8           60.566560    335.750000  4177.500000     13.662500
           6           73.815495    220.400000  3383.000000     16.900000
           4          110.182470    106.500000  2205.071429     16.064286
           3           81.386315     80.000000  2720.000000     13.500000
76         8           55.519347    324.000000  4064.666667     13.222222
           6           75.708200    221.400000  3349.600000     17.000000
           4          101.322808    106.333333  2306.600000     16.866667
75         8           59.304757    330.500000  4108.833333     13.166667
           6           66.560126    233.750000  3398.333333     17.708333
           4           95.581602    114.833333  2489.250000     15.833333
74         8           53.752822    315.200000  4438.400000     14.700000
           6           67.596607    230.428571  3320.000000     16.857143
           4          105.234398     96.533333  2151.466667     16.400000
73         8           49.967412    365.250000  4279.050000     12.250000
           6           71.922790    212.250000  2917.125000     15.687500
           4           86.032045    109.272727  2338.090909     17.136364
           3           68.137380     70.000000  2124.000000     13.500000
72         8           51.539813    344.846154  4228.384615     13.000000
           4           88.686749    111.535714  2382.642857     17.214286
           3           71.922790     70.000000  2330.000000     13.500000
71         8           50.832649    371.714286  4537.714286     12.214286
           6           68.137380    243.375000  3171.875000     14.750000
           4          103.953182    101.846154  2056.384615     16.961538
70         8           53.416341    367.555556  3940.055556     11.194444
           6           77.600905    199.000000  2710.500000     15.500000
           4           95.716796    107.000000  2292.571429     16.000000

                        origin
model_year cylinders
82         6          1.000000
           4          1.714286
81         8          1.000000
           6          1.714286
           4          2.095238
80         6          2.000000
           5          2.000000
           4          2.200000
           3          3.000000
79         8          1.000000
           6          1.000000
           5          2.000000
           4          1.583333
78         8          1.000000
           6          1.166667
           5          2.000000
           4          2.117647
77         8          1.000000
           6          1.400000
           4          1.857143
           3          3.000000
76         8          1.000000
           6          1.300000
           4          1.866667
75         8          1.000000
           6          1.000000
           4          2.166667
74         8          1.000000
           6          1.000000
           4          2.200000
73         8          1.000000
           6          1.250000
           4          2.000000
           3          3.000000
72         8          1.000000
           4          1.928571
           3          3.000000
71         8          1.000000
           6          1.000000
           4          1.923077
70         8          1.000000
           6          1.000000
           4          2.285714

In [23]:
df.agg(['std', 'mean'])['mpl']

std     29.586705
mean    89.012299
Name: mpl, dtype: float64

In [24]:
df.agg({'mpl': ['max', 'mean'], 'weight':['mean', 'std']})
# Advamced method for applying desired agg functions

             mpl       weight
max   176.400106          NaN
mean   89.012299  2970.424623
std          NaN   846.841774

In [25]:
agg_groupby = df.groupby('model_year').agg({'mpl':['median','mean'],'weight':['mean','std']})

In [26]:
agg_groupby.to_excel('agg_groupby.xlsx')

In [27]:
agg_groupby

                   mpl                   weight
                median        mean         mean          std
model_year
70           60.566560   66.962598  3372.793103   852.868663
71           71.922790   80.439962  2995.428571  1061.830859
72           70.030085   70.841244  3237.714286   974.520960
73           60.566560   64.730511  3419.025000   974.809133
74           90.849840   85.942827  2877.925926   949.308571
75           73.815495   76.717643  3176.800000   765.179781
76           79.493610   81.664654  3078.735294   821.371481
77           82.332668   88.483959  2997.357143   912.825902
78           78.357987   91.081171  2861.805556   626.023907
79           90.471299   94.987685  3055.344828   747.881497
80          123.782907  127.555264  2436.655172   432.235491
81          119.618956  114.828454  2522.931034   533.600501
82          121.133120  120.034130  2453.548387   354.276713